html {
  text-size-adjust: 100%;
  min-height: 100%;
}

body {
  background-color: #091d26;
}

.upperpart {
  background-image: url(./images/space.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: -10px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.profile img {
  max-width: 150px;
  border-radius: 25px;
  margin-top: 100px;
  margin-left: 100px;
  padding: 20px;
}

.header-greeting {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 70px;
  margin-bottom: 150px;
  padding-left: 5px;
  background-color: white;
  border-radius: 5px;
  opacity: 0.5;
}

.header h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header h3 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.quotebox img {
  position: relative;
  bottom: -23px;
  left: 10px;
}

.projects ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

/* .projects ul::after {
  content: '';
  background-color: blue;
  opacity: 0.2;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
} */

.projects li {
  background: transparent;
}

.projects li img {
  border-radius: 4px;
  max-width: 200px;
  width: 200px;
  height: 150px;
}

article {
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #333;
}

article div {
  padding: 1em;
}

article header {
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px 4px 0 0;
  height: 50px;
}

article h3 {
  font-family: 'Noto serif', serif;
  font-weight: 700;
  margin-top: 0;
}

article p {
  font-family: 'Noto serif', serif;
}

.footer h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fbeded;
}

.footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.footer li {
  padding: 10px;
}

h6 {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fbeded;
}

.more {
  background-color: hsl(200, 80%, 75%);
  font-family: 'Noto serif', sans-serif;
  font-weight: 700;
  padding: 10px;
  position: absolute;
  right: 10px;
  bottom: -10px;
  border-radius: 4px;
}

.more:link,
.more:visited {
  color: white;
  text-decoration: none;
}
